{% extends 'home/lms.html' %}
{% block title %}Update Subject{% endblock %}
{% block body %}
    <div class="form-container">
        <form class="dynamic-form" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Update Subject</h1>
            <h2>Current Name of the Subject: {{old_sub}}</h2>
            {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" value="Save Changes">
        </form>
    </div>

{% endblock %}