{% extends 'home/signin.html' %}
{% block body %}
<h4>Enter your new Password:</h4>
<br>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="signin-btn">Submit</button>
</form>
{% endblock %}