{% extends 'home/lms.html' %}
{% block title %}Books{% endblock %}
{% block body %}
{% if books %}
    <h1>Registered Books</h1>
    <table>
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Cover Page</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Subject</th>
                    <th>Publisher</th>
                    <th>Availability</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td data-label="CP"><img src="{{book.coverp.url}}" style="width:80px; height: 80px"></td>
                    <td data-label="Name">{{book.title}}</td>
                    <td data-label="Author">
                        {% for author in book.author.all %}
                            {{ author.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td data-label="Subject">{{book.sub}}</td>
                    <td data-label="Pub">{{book.pub}}</td>
                    {% if book.avail %}
                        <td data-label="Avail">Yes</td>
                    {% else %}
                        <td data-label="Avail">No</td>
                    {% endif %}
                    <td data-label="Actions">
                        <button class="edit-btn" onclick="window.location.href='{% url 'editbook' book.id %}'">Edit</button>
                        <form method="post" action="{% url 'delbook' book.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button class="delete-btn">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button class="edit-btn" onclick="window.location.href='{% url 'addbook' %}'">Add Book</button>
{% else %}
    <h1>No registered books</h1>
    <button class="edit-btn" onclick="window.location.href='{% url 'addbook' %}'">Add Book</button>
{% endif %}
{% endblock %}
